@import "../../main.scss";
.rightbar {
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColor");
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .item {
        border-radius: 5px;
        background-color: themed("bg");
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 20px;
        span {
          padding: 20px 0px;
          color: themed("textColorSoft");
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include custom{
            flex-direction: column !important;
          }

          .userInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            .online {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 12px;
              left: 18px;
            }
            span {
              color: themed("textColor");
              font-weight: 500;
            }
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            // @include custom{
            //   flex-direction: column !important;
            // }

            button {
              border: none;
              min-width: 70px;
              padding: 8px;
              color: #fff;
            }
            .button1 {
              background-color: #265073;
            }
            .button2 {
              background-color: rgb(174, 30, 30);
            }
          }
        }
      }
    }
  }
}
